/* body {
  background-color: #757e96;
  text-align: center;
  font-family: 'Montserrat', Gotham, 'Helvetica Neue', Helvetica, Arial,
    'sans-serif';
  margin: 0;
  padding: 0;
}

textarea {
  font-size: 20px;
  border: solid 1px #bfbfbf;
}

input {
  border: solid 1px #bfbfbf;
}

.ticket {
  margin: 0 auto 0 auto;
  background-color: #fff;
  text-align: center;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;

  padding: 20px;
}

.all {
  width: 100%;
  text-align: center;
}

.autosize {
  width: 100%;
  text-align: center;
  resize: none;
  overflow: hidden;
}

.left {
  text-align: left;
}

select {
  font-weight: 800;
  font-size: 20px;
  width: 150px;
  height: 40px;
  text-align: center;
}

.print-only {
  display: none;
}

@media all {
  div.saltopagina {
    display: none;
  }
}
@media print {
  .no-print {
    visibility: hidden;
  }
  .print-only {
    display: block;
  }
}
@media print {
  div.saltopagina {
    display: block;
    page-break-before: always;
  }
}
.centering {
  display: flex;
  justify-content: center;
} */
/* .ticket {
  box-shadow: none;
} */
/* input,
textarea {
  border: none;
  font-size: 20px;
} */

body {
  background-color: #757e96;
  text-align: center;
  font-family: 'Montserrat', Gotham, 'Helvetica Neue', Helvetica, Arial,
    'sans-serif';
  margin: 0;
  padding: 0;
}

textarea {
  font-size: 20px;
  border: solid 1px #bfbfbf;
}

input {
  border: solid 1px #bfbfbf;
}

.ticket {
  margin: 0 auto 0 auto;
  background-color: #fff;
  text-align: center;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;

  padding: 20px;
}

.all {
  width: 100%;
  text-align: center;
}

.autosize {
  width: 100%;
  text-align: center;
  resize: none;
  overflow: hidden;
}

.left {
  text-align: left;
}

select {
  font-weight: 800;
  font-size: 20px;
  width: 150px;
  height: 40px;
  text-align: center;
}

.print-only {
  display: none;
}
.relative {
  position: relative;
}
.visible-only {
  top: 0;
  position: absolute;
  visibility: hidden;
}

@media all {
  div.saltopagina {
    display: none;
  }
}
@media print {
  .no-print {
    visibility: hidden;
  }
  .ticket {
    box-shadow: none;
    padding: 0;
  }
  textarea,
  input {
    border: none;
  }
  .print-only {
    display: block;
  }
  .visible-only {
    top: unset;
    position: relative;
    visibility: visible;
  }
}
@media print {
  div.saltopagina {
    display: block;
    page-break-before: always;
  }
}
.centering {
  display: flex;
  justify-content: center;
}
